@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

body {
   text-align: center;
   background-image: url("back-image.jpg"); 
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   padding-bottom: 30px;
  
   
}
p{
    font-size: 20px;
}
#title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(151, 67, 19);
    font-weight: 200;
    
}
#description
{
    font-size: 20px;
    color:rgb(151, 67, 19);
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(172, 134, 30) ;

}
form
{
    background-color: rgba(172, 134, 30, 0.8);
    margin-left: center;
    width: 600px;
    border-radius: 2%;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 60px;
    color:white;
    font-family:   cursive,sans-serif;

}
.in-textarea {
    min-height: 120px;
    width: 80%;
    margin-left: -20px;
    resize: vertical;
    border-radius: 10px;
  }

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.2rem;
    margin-top: 0.1;
    
  }
  .textbox {
    display: block;
    align-items: center;
    width: 95%;
    height: 1.5rem;
    padding: 0.2rem 0.22rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #b9c5d1;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  #radio-label
  {
      margin-top: -10px;
      margin-bottom: -10px;
      
      
  }

.form-group
{
    max-width: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#name-label
{
    text-align: left;
}


#submit
{
    
    display: block;
    background:rgb(187, 148, 50);
    width: 95%;
    color:white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;

}